<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="DRSEJB">
        <wb-resource deploy-path="/" source-path="/ejbModule"/>
        <wb-resource deploy-path="/" source-path="/.apt_generated"/>
        <property name="java-output-path" value="ejbModule"/>
    </wb-module>
</project-modules>